.my-max-width{
    max-width: 700px;
    margin: 0 auto;
}
.btn-coal{
    background-color: hsl(234, 29%, 20%);
    color: white;
}
.btn-coal:hover{
background: rgb(255,56,178);
background: linear-gradient(90deg, rgba(255,56,178,1) 0%, rgba(253,29,29,1) 99%);
color: white;
}
h1{
    font-size: 3.2rem;
}
.success-btn-margin{
    margin-top: 80px;
}